body{
    font-family: 'Nunito';
}

.main-container{
    min-height: 100vh;
}

.title-bar-container{
    background-color: green;
    height: 10rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

}

.red{
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}


.logo{
    font-size: 5rem;
    display: flex;
    align-items: center;
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.social-container{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.social-container > * {
    margin: 0.4rem;
}

img {color}

.text-container{
    display: flex: ;
}

.image-container{
    background-image: url("assets/neon-huldeschild-hier-is-het-feestje.jpg");
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    width: 50vw; 
}


.flex{
    display: flex;
}
