body{
    font-family: 'Nunito';
}

.main-container{
    min-height: 100vh;
}

.title-bar-container{
    background-color: green;
    height: 10rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

}

.red{
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}


.logo{
    font-size: 5rem;
    display: flex;
    align-items: center;
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.social-container{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.social-container > * {
    margin: 0.4rem;
}

img {color}